.jumbotron {
  background-image: url("../static/TopOfTheRock.jpg");
  background-blend-mode:luminosity;
  background-repeat: repeat-y;
  background-size: cover;
  margin-bottom: 0;
  height: 100vh;
  border-radius: 0;
  
}

.container {
  background-repeat: repeat-y;
}

nav {
  border-bottom: 3px solid lightgray;
}

.intro {
  background-color: rgba(255,255,255, 0.9);
  border-radius: .3rem;
  padding: 10px;
}

#my-face {
  width: 33%;
  border-radius: .3rem;
}

a:hover{
  color: black;
}


table {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  font-size: 10px;
}

td img {
  height: 40px;
}

td a {
  font-family: 'Open Sans';
  text-decoration: none;
  color: rgb(20,20,20);
}


.issue {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
}